@tailwind base;
@tailwind components;
@tailwind utilities;


table, th, td {
    border: 2px solid rgb(194, 188, 194);
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: center;
}